
{%extends 'layouts/base.html'%}

{% block title %}Add Category {% endblock %} 


{% block content%}

  {% if messages %}
  {% for message in messages %}
      <p class="d-none" id="messagetag">{{message.tags}}</p>
      <p class="d-none " id="messagecontent">{{message}}</p>
  {% endfor %}
  {% endif %}
    <div class="container-fluid py-4">
        <div class="row">
          <div class="mx-auto col-lg-6 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-body p-6">
                  <h3 class="font-weight-bolder">Add category</h3><br>
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 mb-3"> 
                          <label for="catergory">Enter Category Name</label>

                            {{form.category_name}}
                        </div>
                        <div class="col-lg-8 mb-3"> 
                          <label for="catergory">Select an Image</label>

                            {{form.image}}
                        </div>
                      </div>
                      <button type="submit" class="btn bg-gray-800 btn-rounded rounded-2 text-white" >Add</button> 
                  </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
  


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/shop/lib/easing/easing.min.js"></script>
    <script src="../../static/shop/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../../static/shop/mail/jqBootstrapValidation.min.js"></script>
    <script src="../../static/shop/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../../static/shop/js/main.js"></script>
</body>

{% endblock content %}
</html>