{% extends "layouts/base.html" %}
{% block title %}  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <p class="d-none" id="messagetag">{{message.tags}}</p>
    <p class="d-none " id="messagecontent">{{message}}</p>
{% endfor %}
{% endif %}




<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <h5 class="h5"> <b>Product Purchase History</b> </h5>
    </div>

</div>


<div class="card card-body border-0 table-wrapper table-responsive"  style="box-shadow: 0 0px 10px rgba(202,194,247,0.59)">
    <table class="table table-hover">
        <thead>
          <tr>
            <th > Purchase ID</th>
            <th >username</th>
            <th >Product Name</th>
            <th >Price</th>
            <th >Total Price</th>
            <th >Date</th>
            <th >Quantity</th>
            {% comment %} <th >Shipped</th> {% endcomment %}
            <th >Status</th>
          </tr>
        </thead>
        <tbody>

          {% for data in purchase %}

          <tr>
            <td><p>{{data.order_id}}</p></td>
            <td><p>{{data.username}}</p></td>
            <td>{% for Product_name in data.Product_name %}
              <p>{{Product_name}}</p>

                {% endfor %}
            </td>
            <td>{% for price in data.Prices %}
                <p>{{price|floatformat:2}}</p>
                {% comment %} {% if forloop.last %}
                {{" "}}
                {% else %}
                
                {% endif %} {% endcomment %}
                {% endfor %}
            </td>

            <td><p>{{data.Total|floatformat:2}}</p></td>
            <td><p>{{data.date}}</p></td>
            <td>{% for quantity in data.Quantity %}
              <p>{{quantity}}</p>

                {% endfor %}
            </td>
            {%if data.status == 5%}
            <td><a class="btn btn-light dropdown-toggle text-success" href="#" role="button" >
              <i class="fa fa-check text-dark"></i> Delivered   
                
            </a></td>
            {%elif data.status == 6%}
              <td><a class="btn btn-light dropdown-toggle text-danger" href="#" role="button" >
                <span class="text-black " style="font-size: 1.3rem;">x</span>  Cancelled   
                
              </a></td>
            {%else%}
            <td>
              
              
              {%if data.status == 3%}
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Order Confirmed 
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item " href="#">Order Confirmed   <i class="fa fa-check text-success"></i></a></li>
                  <li><a class="dropdown-item " href="{%url 'delivery' data.id%}">Out For Delivery <i class="fa fa-check "></i> </a></li>
                  <li><a class="dropdown-item " href="#">Delivered         </a></li>
                  <li><a class="dropdown-item text-danger" href="{%url 'cancel-order' data.id%}">Cancel         </a></li>
                </ul>
              </div>
              {%elif data.status == 4%}
              <div class="dropdown">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Out For Delivery
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item " href="#">Order Confirmed   <i class="fa fa-check text-success"></i></a></li>
                  <li><a class="dropdown-item " href="#">Out For Delivery  <i class="fa fa-check text-success"></i></a></li>
                  <!-- <li><a class="dropdown-item " href="{%url 'deliverd' data.id%}">Delivered<i class="fa fa-check "></i></a></li> -->
                  <li><a class="dropdown-item " href="{%url 'deliverd' data.id%}">Delivered<i class="fa fa-check "></i></a></li>
                  <li><a class="dropdown-item text-danger" href="{%url 'cancel-order' data.id%}"> >Cancel         </a></li>
                </ul>
              </div>
             
             
            {%endif%}
            {%endif%}
        </tr> 

        {% endfor %}

        </tbody>
    </table>
   
</div> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
