{% extends "index1.html" %}
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

{% block title %} Requested Services {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p class="d-none" id="messagetag">{{message.tags}}</p>
        <p class="d-none " id="messagecontent">{{message}}</p>
    {% endfor %}
    {% endif %}
    <body>
        <!-- <div class="col-12 col-md-12"> -->
            <div class="container-fluid">
                <div class="row border-top px-xl-5">
                    <div class="col-lg-3 d-none d-lg-block">
        
        
        
                        <div class="dropdown">
                            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn shadow-none d-flex align-items-center justify-content-between w-100 bg-gray-800 text-white" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;" data-target="#" href="/page.html">
                                <h5>Categories </h5><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu multi-level  w-100" role="menu" aria-labelledby="dropdownMenu">
                
                              {%for i in datacategory %}
                              <li class="divider"></li>
                              <li class="dropdown-submenu p-3">
                                <a tabindex="-1" href="#">{{i.category_name}}</a>
                                <ul class="dropdown-menu">
                                {% for j in datajob %}
                                {% if i.category_name in j.category %}
                                  {% comment %} <li><a href="{%url 'laboshop1'?filter=j.id%}">{{j.job_title}}</a></li> {% endcomment %}
                                  <li class="px-4 py-2"><a href="/lookforjobs?filter={{j.id}}">{{j.job_title}}</a></li>
                                {%endif%}
                                {%endfor%}
                                </ul>
                                </li>
                            {%endfor%}
                            </ul>
                            
                        </div>
        
                    </div>
        
                    <div class="col-lg-2 p-3">
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">Filter by</button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="#">Name</a>
                                <a class="dropdown-item" href="#">category</a>
                                <a class="dropdown-item" href="#">Rating</a>
                                <a class="dropdown-item" href="#">Location</a>
        
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    <div class="row pb-3 flex-md">
    {%for look in jobs%} 
       
        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
            
            <div class="card product-item border-0 mb-4">
               
                <div class="card shadow-sm" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.993);">   
                                 
                    <div class="card-body p-4 text-black">
                        <div>
                            <h6 class="mb-4 text-uppercase">Job  : {{look.job_title}}</h6>
                            <h6 class="mb-4 text-capitalize">Hirer Name : {{look.name}}</h6>
                        <div class="d-flex align-items-start mb-4 " >
                            {% comment %} <div class="flex-shrink-0 me-2">
                                <img src="{{media_url}}{{look.image}}"
                                alt="" class="img-fluid rounded border border-dark border-3"
                                style="width: 75px; height: 75px;">
                            </div> {% endcomment %}
                            <div class="flex-grow-1 ms-3">
                                <div class="row">
                                    <h6 class="mb-4 ">Location 👇<br>{{look.place}}</h6><br>
                                    <h6 class="mb-4">Phone No 👇<br>{{look.phone}}</h6><br>
                                    <h6 class="mb-4">Work Mode <br>{%if look.work_type%}Full Day{%else%}Half Day{%endif%}</h6><br>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                   
                  
                    <div class="card-footer text-center">

                       

                        <a href="{%url 'applyform' look.id%}" type = "button" class="text-center text-decoration-none bg-black btn-block btn-lg btn-rounded rounded-3 text-white"><i class="far fa-clock me-2 text-white"></i>Apply for job</a>
                        
                    </div>
                   
                </div>
                
            </div>
        </div>
      
       
    </div>
    {% endfor %}
</div>
<!-- </div> -->
</body>

<style>

    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
    
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
        float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    </style>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
