{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<body style="background-color:#f5eee7" >
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Manage User</h2>
      </div>

  </div>
  

  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">User ID</th>
                  <th class="border-gray-200">Username</th>
                  <th class="border-gray-200">Name</th>					
                  <th class="border-gray-200">Date Of Joined</th>
                  <th class="border-gray-200">Status</th>
                  <th class="border-gray-200">Package</th>
                  <th class="border-gray-200">Subscription date</th>
                  <th class="border-gray-200">Option</th>
              </tr>
          </thead>
          <tbody>
            {% for data in details %}
              <tr>
                <td><span>{{data.id}}</span></td>
                <td><span>{{data.username}}</span></td>
                <td><span>{{data.first_name}}{{data.last_name}}</span></td>                        
                <td><span>{{data.date_joined}}</span></td>

                <td>
                    {% if data.is_active %}
                    <span>Active</span>
                    {% else %}
                    <span>Inactive</span>
                    {% endif %}
                </td>

                <td><span>{{data.package}}</span></td>
                <td><span>{{data.subscribed_at}}</span></td>
                <td>
                {% if data.is_active %}
                    <a href="{% url 'updateuser' data.id %}"class=" btn btn-success text-white">Active</a>
                {%else%}
                    <a href="{% url 'updateuser' data.id %}"class="btn btn-danger">Block</a>
                {% endif %}
                </td>
              </tr>
              {% endfor %}      
          </tbody>
      </table>
  </div> 
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
