{% extends "layouts/base.html" %}

{% block title %} Manage User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <p class="d-none" id="messagetag">{{message.tags}}</p>
    <p class="d-none " id="messagecontent">{{message}}</p>
{% endfor %}
{% endif %}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
        <h5 class="h5"> <b>MANAGE USER</b> </h5>
    </div>

  </div>
  

  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">User ID</th>
                  <th class="border-gray-200">Username</th>
                  <th class="border-gray-200">Name</th>					
                  <th class="border-gray-200">Date Joined</th>
                  <th class="border-gray-200">Status</th>
                  <th class="border-gray-200">Package</th>
                  <th class="border-gray-200">Subscription date</th>
                  <th class="border-gray-200">Option</th>
              </tr>
          </thead>
          <tbody>
            {% for data in details %}
              <tr>
                <td><span>{{data.id}}</span></td>
                <td><span>{{data.username}}</span></td>
                <td><span>{{data.first_name}}{{data.last_name}}</span></td>                        
                <td><span>{{data.date_joined}}</span></td>

                <td>
                    {% if data.is_active %}
                    <span>Active</span>
                    {% else %}
                    <span>Inactive</span>
                    {% endif %}
                </td>

                <td><span>{{data.package}}</span></td>
                <td><span>{{data.subscribed_at}}</span></td>
                <td>
                {% if data.is_active %}
                    <a href="{% url 'updateuser' data.id %}"class=" btn shadow-sm text-success">Active</a>
                {%else%}
                    <a href="{% url 'updateuser' data.id %}"class="btn shadow-sm text-danger">Block</a>
                {% endif %}
                </td>
              </tr>
              {% endfor %}      
          </tbody>
      </table>
  </div> 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
