{% extends "layouts/base.html" %}

{% block title %} Manage services {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
        <h5 class="h5"> <b>MANAGE SERVICES</b> </h5>
    </div>

  </div>
  

  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">User ID</th>
                  <th class="border-gray-200">Username</th>
                  <th class="border-gray-200">Job Title</th>
                  <th class="border-gray-200">Status</th>
                  <th class="border-gray-200">Rate</th>
                  <th class="border-gray-200">Work Type</th>
                  <th class="border-gray-200">Options</th>
              </tr>
          </thead>
          <tbody>
            {% for data in details %}
              <tr>
                <td><span>{{data.id}}</span></td>
                <td><span>{{data.username}}</span></td>
                <td><span>{{data.job_title}}</span></td> 
                <td><span>
                    {% if data.status == 0 %}
                    <span>Inactive</span>
                    {% elif data.status == 1 %}
                    <span>Active</span>
                    {% elif data.status == 2 %}
                    <span>Pending</span>
                    {% endif %}
                </span></td> 
                <td><span>{{data.rate}}</span></td>
                <td><span>
                    {% if data.work_type == 1 %}
                    <span>Full Day</span>
                    {% else %}
                    <span>Half Day</span>
                    {% endif %}
                  </span></td>
                <td><span>
                {% if data.status == 0 %}
                    <a href="{%url 'updateservices' data.id %}" class="btn rounded-2 text-danger">Inactive</a>
                {% elif data.status == 1 %}
                    <a href="{%url 'updateservices' data.id %}" class="btn rounded-2 text-success">Active</a>
                {% elif data.status == 2 %}
                    <a href="{%url 'updateservices' data.id %}" class="btn text-danger">Cancel</a>
                {% endif %}
                </span></td>
              </tr>
              {% endfor %}      
          </tbody>
      </table>
  </div> 

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4">Hire History</h2>
    </div>

</div>


<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">Hirer Name</th>
                <th class="border-gray-200">Phone</th>
                <th class="border-gray-200">Place</th>
                <th class="border-gray-200">Rate</th>
                <th class="border-gray-200">Worker name</th>
                <th class="border-gray-200">Worker phone</th>
                <th class="border-gray-200">Job</th>
                <th class="border-gray-200">Rating</th>
            </tr>
        </thead>
        <tbody>
          {% for history in history %}
            <tr>
              <td><span>{{history.Hire_name}}</span></td>
              <td><span>{{history.Phone}}</span></td>
              <td><span>{{history.Place}}</span></td>
              <td><span>{{history.rate}}</span></td> 
              <td><span>{{history.worker_name}}</span></td>
              <td><span>{{history.worker_phone}}</span></td> 
              <td><span>{{history.job_title}}</span></td> 
              <td><span>{{history.rating}}</span></td> 
            </tr>
            {% endfor %}      
        </tbody>
    </table>
</div> 


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
