{% extends "layouts/base.html" %} {% block title %} Pending KYC approval {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<body style="background-color: #f5eee7">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4">Pending KYC approval</h2>
        </div>
    </div>

    <div class="card card-body border-0 shadow table-wrapper table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Username</th>
                    <th class="border-gray-200">First Name</th>
                    <th class="border-gray-200">Last Name</th>
                    <th class="border-gray-200">Email</th>
                    <th class="border-gray-200">Phone No</th>
                    <th class="border-gray-200">Image</th>
                    <th class="border-gray-200">KYC</th>
                    <th class="border-gray-200">APPROVE</th>
                    {% comment %}
                    <th class="border-gray-200">Status</th>
                    {% endcomment %}
                </tr>
            </thead>
            <tbody >
                <!-- Item -->
                {% for data in datas %}
                <tr class="" > 
                    <td class="align-middle">{{data.username}}</td>
                    <td class="align-middle" >{{data.first_name}}</td>
                    <td class="align-middle" >{{data.last_name}}</td>
                    <td class="align-middle" >{{data.email}}</td>
                    <td class="align-middle">{{data.phone_no}}</td>
                    <td class="align-middle"><img class="rounded" style="width:200px ; height:auto;" src="{{media_url}}{{data.image}}" alt="Profile image"></td>
                    <td class="align-middle"><img class="rounded" style="width:200px ; height:auto;" src="{{media_url}}{{data.kyc}}" alt="KYC Image"></td>
                    <td class="align-middle"><a href="#" class="btn btn-success">APPROVE</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}