{% extends "index.html" %}
{% block title %} Enlisted Jobs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p class="d-none" id="messagetag">{{message.tags}}</p>
        <p class="d-none " id="messagecontent">{{message}}</p>
    {% endfor %}
    {% endif %}
    <body>
<!-- <div class="col-12 col-md-12"> -->
    <div class="row pb-3 flex-md">
    {% comment %} {%for look in jobs%} 
       
        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
            
            <div class="card product-item border-0 mb-4">
               
                <div class="card" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.993);">   
                                 
                    <div class="card-body p-4 text-black">
                        <div>
                            <h6 class="mb-4 text-uppercase">Job  : {{look.job_title}}</h6>
                            <h6 class="mb-4 text-capitalize">Hirer Name : {{look.name}}</h6>
                        <div class="d-flex align-items-start mb-4 " >
                            <div class="flex-shrink-0 me-2">
                                <img src="{{media_url}}{{look.image}}"
                                alt="" class="img-fluid rounded border border-dark border-3"
                                style="width: 75px; height: 75px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="row">
                                    <h6 class="mb-4 ">Location 👇<br>{{look.place}}</h6><br>
                                    <h6 class="mb-4">Phone No 👇<br>{{look.phone}}</h6><br>
                                    <h6 class="mb-4">Work Type<br>{%if look.work_type%}Full day{%else%}Half Day{%endif%}</h6><br>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                   
                  
                    <div class="card-footer text-center">


                        <a href="{%url 'deleteenlisted' look.id%}" type = "button" style="background-color:red;" class="text-center text-decoration-none btn-gray-800 btn-block btn-lg btn-rounded rounded-3 text-white"><i class="far fa-clock me-2 text-white"></i>Delete</a>
                       {% if look.is_active %}

                        <a href="{%url 'enlistedjobstatus' look.id%}" type = "button" class="text-center text-decoration-none btn-gray-800 btn-block btn-lg btn-rounded rounded-3 text-white"><i class="far fa-clock me-2 text-white"></i>Deactivate</a>
                       {% else %}
                       <a href="{%url 'enlistedjobstatus' look.id%}" type = "button" class="text-center text-decoration-none btn-gray-800 btn-block btn-lg btn-rounded rounded-3 text-white"><i class="far fa-clock me-2 text-white"></i>Activate</a>
                        {% endif %}
                    </div>
                   
                </div>
                
            </div>
        </div>
      
       
    </div>
    {% endfor %} {% endcomment %}





    <div class="col-12 col-md-12">
        <div class="row pb-3">
            {% for i in jobs %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1 p-3">
                <div class="card product-item border-0 mb-4">
                    <div class="card" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.993);box-shadow: 0 0px 10px rgba(202,194,247,0.59);">
                        <div class="card-body p-4 text-black">
                            <div class="d-flex align-items-center mb-4 " >
                                <div class="flex-shrink-0 " >
                                    <img src="{{request.user.image.url}}"
                                    alt="" class="img-fluid rounded-circle border border-dark border-3"
                                    style="width: 75px; height: 75px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex flex-row float-end mb-2">
                                        <h6 class="mb-4">@{{i.hirer}}</h6>

                                        <!-- <p class="mb-0 me-2">@{{i.username}}</p> -->
                                    </div>
                                    <div>
                                        {% comment %} <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                                        data-mdb-ripple-color="dark">+ Follow</button> {% endcomment %}
                                            {% comment %} <button type="button" class="btn btn-outline-dark btn-floating btn-sm"
                                            data-mdb-ripple-color="dark"><i class="fas fa-comment"></i></button> {% endcomment %}
                                    </div>             
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-4">Job Title:{{i.job_title}}</h6>
                                <h6 class="mb-4">Work Type:
                                        {%if i.work_type == True%}
                                        <span>Half Day</span>
                                        {%else%}
                                        <span>Full Day</span>
                                        {%endif%}
                                </h6>
                                {% comment %} <h6 class="mb-4">Rate:${{i.rate}}</h6> {% endcomment %}


                            </div>
                        </div>
                        <div class="card-footer">
                            {% if i.is_active == False %}
                                <a href="{%url 'enlistedjobstatus' i.id %}" class=" btn rounded-2 text-danger shadow-sm">Inactive</a>
                                <a href="{%url 'deleteenlisted' i.id %}" class=" btn rounded-2 text-danger shadow-sm">Delete</a>
                            {% elif i.is_active == True %}
                                <a href="{%url 'enlistedjobstatus' i.id %}" class="btn rounded-2 text-success shadow-sm">Active</a>                  
                            {% endif %}
                            <!-- <button type="button" class="btn-gray-800 btn-block btn-lg btn-rounded rounded-3 text-white"></i>Active</button>                                 -->
                        </div>
                    </div>
                </div>
            </div>
             {% endfor %}
        </div>
    </div>
    <!-- Back to Top -->
    {% comment %} <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a> {% endcomment %}


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
</body>
<style>

    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
    
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
        float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    </style>










</div>
<!-- </div> -->
</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

