{% extends "layouts/base.html" %}
{% block title %}  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <p class="d-none" id="messagetag">{{message.tags}}</p>
    <p class="d-none " id="messagecontent">{{message}}</p>
{% endfor %}
{% endif %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <h5 class="h5"> <b>Reported Issues</b> </h5>
    </div>

</div>


<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th >ID</th>
            <th >username</th>
            <th >Role</th>
            <th >Hire Id</th>
            <th >Email</th>
            <th >Phone</th>
            <th >Image Linked</th>
            <th >Issue</th>
            <th >Option</th>
          </tr>
        </thead>
        <tbody>

          {% for data in report %}

          <tr>
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{%if data.woh%}Hirer{%else%}Worker{%endif%}</td>
            <td>{{data.hireid}}</td>

            <td>{{data.email}}</td>
            <td>{{data.phone}}</td>
            <td><img src="{{data.proof.url}}" width="200px"></img></td>
            <td style="white-space:pre-wrap; word-wrap:break-word">{{data.issue}}</td>
            <td>wait</td>
            

        </tr>

        {% endfor %}

        </tbody>
    </table>
   
</div> 


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
