{% extends "index.html" %}
{% block title %} Requested Services {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p class="d-none" id="messagetag">{{message.tags}}</p>
        <p class="d-none " id="messagecontent">{{message}}</p>
    {% endfor %}
    {% endif %}
    <body style="background-color:#f5eee7" >
<!-- <div class="col-12 col-md-12"> -->
    <div class="row pb-3 flex-md">
    {%for data in data%} 
       
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
            
               
                <div class="card shadow-sm" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.993);">   
                                 
                    <div class="card-body p-4 text-black">
                        <div>
                            <h5 class="mb-4 text-uppercase text-decoration-underline  text-center">Work: {{data.job_title}}</h5>
                       
                        <div class="d-flex align-items-center mb-4 " >
               
                            <div class="flex-grow-1 ms-3">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h6 class="mb-4">Name:- <p class="text-muted" style="display: inline; ">  {{data.place}} </p></h6><br>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h6 class="mb-4 " style="display: inline;">Work Duration:- <p class="text-muted" style="display: inline; ">  {% if data.work_type %}Full Day{%else%}Half Day {%endif%}</p></h6>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h6 class="mb-4 " style="display: inline;">Rate:- <p class="text-muted" style="display: inline; ">  {{data.rate}}</p></h6>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h6 class="mb-4 " style="display: inline;">Date:- <p class="text-muted" style="display: inline; ">  {{data.work_date.date}}</p></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  
                    <div class="card-footer text-center">

                       

                        <a href="{% url 'cancel_request' data.id %}" type = "button" class="text-center text-decoration-none btn-gray-800 btn-block btn-lg btn-rounded rounded-3 text-white " style="background-color: rgb(199, 31, 31);"><i class="far fa-clock me-2 text-white"></i>Cancel request</a>
                        
                    </div>
                   
                </div>
                
            </div>
      
       
    </div>
    {% endfor %}
</div>
<!-- </div> -->
</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
