{% extends "layouts/base.html" %} {% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
{% if messages %}
{% for message in messages %}
    <p class="d-none" id="messagetag">{{message.tags}}</p>
    <p class="d-none " id="messagecontent">{{message}}</p>
{% endfor %}
{% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h5 class="h5"> <b>TRANSACTIONS</b> </h5>
        </div>
    </div>

    <div class="card card-body border-0 shadow table-wrapper table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">ID</th>
                    <th class="border-gray-200">Username</th>
                    <th class="border-gray-200">Product Name</th>
                    <th class="border-gray-200">Price</th>
                    <th class="border-gray-200">Total Price</th>
                    <th class="border-gray-200">Date</th>
                    <th class="border-gray-200">Quantity</th>
                    <th class="border-gray-200">Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                {% for data in datas %}
                <tr>
                    <td>{{data.order_id}}</td>
                    <td>{{data.username}}</td>
                    <td>{% for Product_name in data.Product_name %}
                        <p>{{Product_name}}</p>
                        {% comment %} {% if forloop.last %}
                        {{" "}}
                        {% else %}
                        
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </td>
                    <td>{% for price in data.Prices %}
                        <p>{{price|floatformat:2}}</p>
                        {% comment %} {% if forloop.last %}
                        {{" "}}
                        {% else %}
                        
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </td>

                    <td>{{data.Total|floatformat:2}}</td>
                    <td>{{data.date}}</td>
                    <td>{% for quantity in data.Quantity %}
                        <p>{{quantity}}</p>
                        {% comment %} {% if forloop.last %}
                        {{" "}}
                        {% else %}
                        ,
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </td>
                    {%if data.status == 3%}
                    <td><a href="{%url 'delivered' data.id%}" class=" btn border rounded-2">Pending</a></td>
                  
                    {%elif data.status == 4%}
                    <td><a href="" class=" btn border rounded-2">Deliverd</a></td>
                
        
                    {%endif%}                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}