{% extends "layouts/base.html" %} {% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4">Transactions</h2>
        </div>
    </div>

    <div class="card card-body border-0 shadow table-wrapper table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">ID</th>
                    <th class="border-gray-200">Username</th>
                    <th class="border-gray-200">Product Name</th>
                    <th class="border-gray-200">Price</th>
                    <th class="border-gray-200">Total Price</th>
                    <th class="border-gray-200">Date</th>
                    <th class="border-gray-200">Quantity</th>
                    {% comment %}
                    <th class="border-gray-200">Status</th>
                    {% endcomment %}
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                {% for data in datas %}
                <tr>
                    <td>{{data.order_id}}</td>
                    <td>{{data.username}}</td>
                    <td>{% for Product_name in data.Product_name %}
                        <p>{{Product_name}}</p>
                        {% comment %} {% if forloop.last %}
                        {{" "}}
                        {% else %}
                        
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </td>
                    <td>{% for price in data.Prices %}
                        <p>{{price}}</p>
                        {% comment %} {% if forloop.last %}
                        {{" "}}
                        {% else %}
                        
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </td>

                    <td>{{data.Total}}</td>
                    <td>{{data.date}}</td>
                    <td>{% for quantity in data.Quantity %}
                        <p>{{quantity}}</p>
                        {% comment %} {% if forloop.last %}
                        {{" "}}
                        {% else %}
                        ,
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4">LaboCart Transactions</h2>
        </div>
  
    </div>
    
  
    <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
              <th class="border-gray-200">ID</th>
              <th class="border-gray-200">Worker Name</th>
              <th class="border-gray-200">Place</th>
              <th class="border-gray-200">Work Mode</th>
              <th class="border-gray-200">Phone</th>
              <th class="border-gray-200">Job</th>
              <th class="border-gray-200">Status</th>


               
            </tr>
        </thead>
        <tbody>

          {% for data in details %}

          <tr>
            <td><p>{{data.id}}</p></td>
            <td>{{data.worker_name}}</td>
            <td>{{data.Place}}</td>
            <td>{% if data.Work_mode == "true" %}Full day{% else %}Half Day{% endif %}</td>
            <td>{{data.Phone}}</td>
            <td>{{data.job_title}}</td>
            <td>
              {% if data.status == 4 %}
              <span class="text-success">Completed</span>
              {% else %}
              <span class="text-danger">Cancelled</span>
              {% endif % }
              {% endif %}
                         
            </td>
          </tr>

        {% endfor %}

        </tbody>
    </table>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}