{% extends 'index.html' %}

{% block title %}Labo Shop{% endblock %} 

{% block content%}

    {% if messages %}
    {% for message in messages %}
        <p class="d-none" id="messagetag">{{message.tags}}</p>
        <p class="d-none " id="messagecontent">{{message}}</p>
    {% endfor %}
    {% endif %}
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-6 col-lg-3 mt-2">



                <div class="dropdown ">
                    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn shadow-none d-flex align-items-center justify-content-between w-100 bg-gray-800 text-white" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;" data-target="#" href="/page.html">
                        <h5>Categories </h5><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu multi-level  w-100" role="menu" aria-labelledby="dropdownMenu">
        
                      {%for i in datacategory %}
                      <li class="divider"></li>
                      <li class="dropdown-submenu p-3">
                        <a tabindex="-1" href="#">{{i.category_name}}</a>
                        <ul class="dropdown-menu">
                        {% for j in datajob %}
                        {% if i.category_name in j.category %}
                          {% comment %} <li><a href="{%url 'laboshop1'?filter=j.id%}">{{j.job_title}}</a></li> {% endcomment %}
                          <li class="px-3 py-2 "><a href="/laboshop?filter={{j.id}}">{{j.job_title}}</a></li>
                        {%endif%}
                        {%endfor%}
                        </ul>
                        </li>
                    {%endfor%}
                    </ul>
                    
                </div>

            </div>

            <div class="col-lg-2 p-3 mt-3   ">
                <div class="dropdown ml-4">
                    <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Filter by</button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">category</a>
                        <a class="dropdown-item" href="#">Rating</a>
                        <a class="dropdown-item" href="#">Location</a>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Navbar End -->

    {%for j in user%}
    <div>
        <!-- <button data-target="#profile-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary " type="button" >Profile Modal</button> -->
        <div tabindex="-1" class="modal pmd-modal fade pmd-profile-modal" id="profile-dialog{{j.username}}" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width:80%;">
              <div class="modal-body">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                     <img src="{{j.image.url}}" 
                    class="rounded-circle img-fluid" style="width: 100px;height: 100px;" /> 
                    </div>
                    <h4 class="mb-2">{{j.first_name}}. {{j.last_name}}</h4>
                    <p class="text-muted mb-4">@{{j.username}} <span class="mx-2">|</span> <a
                        href="#!">{{j.email}}</a></p>
                    <p class="text-muted mb-4">Date Joined :<span class="mx-2">|</span> <a
                        href="#!">{{j.date_joined}}</a></p>
                    {% comment %} <p class="text-muted mb-4">Phone Number :<span class="mx-2">|</span> <a
                        href="#!">{{j.phone_no}}</a></p> {% endcomment %}
                  
    
                    </a></p>
                    <p class="text-muted mb-4">Rating :<span class="mx-2">|</span> <a
                        href="#!">
                        {%if j.rating == 0%}
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        {%elif j.rating == 1%}
    
    
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
    
                        {%elif j.rating == 2%}
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
    
                        {%elif j.rating == 3%}
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
              
                        {%elif j.rating == 4%}
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:#dddddd;"></span>
                        
    
                        {%elif j.rating == 5%}
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        <span class="fa fa-star" style="color:orange;"></span>
                        
                        {%endif%}
                    </a></p>
                       
                    <!-- <div class="mb-4 pb-2">
                      <button type="button" class="btn btn-outline-primary btn-floating">
                        <i class="fab fa-facebook-f fa-lg"></i>
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-floating">
                        <i class="fab fa-twitter fa-lg"></i>
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-floating">
                        <i class="fab fa-skype fa-lg"></i>
                      </button>
                    </div> -->
                    <!-- <button type="button" class="btn btn-primary btn-rounded btn-lg">
                      Message now
                    </button> -->
                    <!-- <div class="d-flex justify-content-between text-center mt-5 mb-2">
                      <div>
                        <p class="mb-2 h5">8471</p>
                        <p class="text-muted mb-0">Wallets Balance</p>
                      </div>
                      <div class="px-3">
                        <p class="mb-2 h5">8512</p>
                        <p class="text-muted mb-0">Income amounts</p>
                      </div>
                      <div>
                        <p class="mb-2 h5">4751</p>
                        <p class="text-muted mb-0">Total Transactions</p>
                      </div>
                    </div> -->
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
    
    
    
        <!-- Shop Product Start -->
        <div class="col-12 col-md-12">
            <div class="row pb-3">
                {% for i in data %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4" style="box-shadow: 0 0px 10px rgba(202,194,247,0.59)">
                        <div class="card" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.993);">
                            <div class="card-body p-4 text-black">
                                <div>
                                    <h6 class="mb-4">{{i.job_title}}</h6>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        {%if i.work_type == True%}
                                        <p class="small mb-0"><i class="far fa-clock me-2"></i>Half day</p>
                                        {%else%}
                                        <p class="small mb-0"><i class="far fa-clock me-2"></i>Full day</p>
                                        {%endif%}
                                        <p class="fw-bold mb-0">${{i.rate}}</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-4 " >
                                    <div class="flex-shrink-0">
                                        <img src="{{i.image_link.url}}"
                                        alt="" class="img-fluid rounded-circle border border-dark border-3"
                                        style="width: 75px; height: 75px;">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <p class="mb-0 me-2">@{{i.username}}</p>
                                            <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #e4a804;">
                                            {%for t in user%}
                                                {%if i.username in t.username%}
                                                {%if j.rating == 0%}
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                {%elif t.rating == 1%}
                            
                            
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                            
                                                {%elif t.rating == 2%}
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                            
                                                {%elif t.rating == 3%}
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                      
                                                {%elif t.rating == 4%}
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:#dddddd;"></span>
                                                
                            
                                                {%elif t.rating == 5%}
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                <span class="fa fa-star" style="color:orange;"></span>
                                                
                                                {%endif%}
                                                {%endif%}
                                                
                                            {%endfor%}
    
                                            </ul>
                                        </div>
                                        <div>
                                            {% comment %} <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                                            data-mdb-ripple-color="dark">+ Follow</button> {% endcomment %}
                                            <button type="button" data-target="#profile-dialog{{i.username}}" data-toggle="modal" class="btn pmd-ripple-effect btn-primary " type="button" >See profile</button>
                                                {% comment %} <button  class="btn btn-outline-dark btn-floating btn-sm"
                                                data-mdb-ripple-color="dark"><i class="fas fa-comment"></i></button> {% endcomment %}
                                        </div>              
                                    </div>
                                </div>
                            </div>
                            {%for fund in fund%}
                            {%if i.rate <= fund.wallet%}
                            <div class="card-footer">                         
                                <a href="{% url 'hire_now' i.id %}" type = "button" class="text-center text-decoration-none btn-gray-800 d-block btn-lg text-white btn-block"><i class="far fa-clock me-2 text-white"></i>Hire Now</a>
                            </div>
                            {%else%}
                            <div class="card-footer">
                                <a href="" type = "button" class="text-center text-decoration-none btn-gray-800 btn-block btn-lg btn-rounded rounded-3 text-white"><i class="far fa-clock me-2 text-white"></i>Not enough Balance</a> 
                            </div>  
                            {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
                {% endfor %}
             
            </div>

    </div>

<style>

    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
    
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
        float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    </style>

{% endblock content %}
