<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>LaboCart</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="../../../../static/homepage/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../../static/homepage/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<script src="../../../../static/homepage/js/jquery.min.js"></script>			
	<script src="../../../../static/homepage/js/bootstrap.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-48RQ5YEQNB"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-48RQ5YEQNB');
	</script>
		
</head>
<body>
 
<!-- <div class="container-fluid"> -->
	<div class="col-lg-12" align="right">
	<!-- <div class="container"> -->
		<div class="row desktopMenu fixed-top bg-white pb-xl-0">
			<!-- <div class="col-lg-3"> -->
				{% comment %} <a aria-current="page" class="active" href="/"><img src="../../../../static/homepage/img/logo.jpg" class="img-fluid" alt="Logo"></a> {% endcomment %}
			<!-- </div> -->
			<!-- <div class="col-lg-12" align="right"> -->
				<ul>
					<li><a href="#">Home</a></li>					
					<li><a href="{%url 'dashboard'%}">Dashboard</a></li>
					<li><a href="{%url 'laboshop'%}">Laboshop</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'register' %}">Sign Up</a></li>
				</ul>
			</div>
		</div>
	<!-- </div>	 -->
	<!-- <div class="row mobileMenu">
			<div class="container">
				<div class="col-lg-12 pd_lft_rt">
					<div class="row menu_div">
						<div class="col-lg-6 col-6 pd_lft_rt2">
							<img src="img/logo.jpg" alt="logo" class="img-fluid logo_img" />
						</div>
						<div class="col-lg-6 col-6 pd_lft_rt2" align="right">
							<span class="mini-submenu"><i class="fa fa-bars" aria-hidden="true" style="color:#1C1259; font-size:23px;cursor:pointer;margin-top: 9px;"></i></span>
						</div>						
					</div>
					<div class="row">
						<div class="col-lg-12 mob_nav">							
							<ul class="nav navbar-nav my-navbar na_mob">
								<li><a href="#">Home</a></li>
								 <li>
									<div class="dropdown">
										 <button class="dropbtn">Solutions</button>
										  <div class="dropdown-content">
											<a href="#">Dark Stores</a>
											<a href="#">Manpower</a>
											<a href="#">Compliance</a>								
											<a href="#">BTS (Built-to-suit)</a>
											<a href="#">Retail distribution</a>
											<a href="#">Full stack logistics</a>								
											<a href="#">Warehousing space</a>								
											<a href="#">Warehouse operations</a>
											<a href="#">Inventory management</a>
											<a href="#">E-commerce fulfillment</a>
										  </div>
									</div>
								</li>
								 <li>
									<div class="dropdown">
										 <button class="dropbtn">Industries</button>
										  <div class="dropdown-content">
											<a href="#">FMCG</a>
											<a href="#">3PL</a>
											<a href="#">Furniture</a>								
											<a href="#">Chemical</a>
											<a href="#">Electronics</a>
											<a href="#">Automobile</a>								
											<a href="#">E-commerce</a>								
											<a href="#">White goods</a>								
											<a href="#">Pharmaceutical</a>
										  </div>
									</div>
								</li>
								 <li>
									<div class="dropdown">
										 <button class="dropbtn">Company</button>
										  <div class="dropdown-content">
											<a href="#">Blogs</a>
											<a href="#">About us</a>
											<a href="#">Contact us</a>
											<a href="#">Support FAQ's</a>																
										  </div>
									</div>
								</li>								
								 <li class="contactLink"><a href="contact_us.php">Contact Us</a></li> 			  							
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>		 -->
	<div class="row">
		<!-- <div class="col-lg-12 mob_left_ryt"> -->
			<div class="container">
				<div class="col-lg-12 manpower_bg">
					<div class="row">
						<div class="col-lg-7">
							<img src="../../../../static/homepage/img/manpower/manpower_BG.svg" class="img-fluid" alt="manpower">
						</div>
						<div class="col-lg-5 mob_left_ryt">
							<p class="pt-5" >LaboCart For Experienced & Best Services</p>
							<p>We Provide On-Demand Industry Specific Trained Manpower For Your Requirements.</p>
							{%if request.user.is_superuser %}
							<a href="{%url 'dashboard' %}"><button class="btn btnBanner">Laboshop<span class="material-symbols-outlined">
							{%else%}
							<a href="{%url 'laboshop' %}"><button class="btn btnBanner">Laboshop<span class="material-symbols-outlined">
								call_made
								</span></button></a>
							{%endif%}

						</div>
						
					</div>
				</div>												
			</div>
		</div>
	</div>	
	<div class="col-lg-12 first-box">
		<div class="row whyChooseUs">
			<div class="col-lg-12 mob_left_ryt">
				<div class="container mob_left_ryt">
					<div class="col-lg-12 worknowTitle">
							<span>LaboCart</span>
							<p class="manpowert_text">Labocart Now provides trained manpower basis product experience to provide the best service for our client.We have skilled and semi-skilled labour for all your requirements.</p>
						</div>
						<!-- <div class="mobScroll">
						<div class="row why_choose_us">
							<div class="col-lg-3">
								<div class="col-lg-12">
									<img src="img/manpower/supply_chain.svg" class="img-fluid" alt="manpower">
									<p>Supply Chain</p>
									<p>Manpower support is available for picking up and shipping orders, after the inventory storage is complete, to fulfil the supply chain operations.</p>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="col-lg-12">
									<img src="img/manpower/support_services.svg" class="img-fluid" alt="manpower">
									<p>Support Services</p>
									<p>Trained labour is available to support services while manufacturing, packing, picking up, and shipping of orders to the next destination.</p>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="col-lg-12">
									<img src="img/manpower/blue_collar_employment.svg" class="img-fluid" alt="manpower">
									<p>Blue Collar Employment</p>
									<p>Surety of trained manpower support to edge over the competitive market for various operations and services required by clients. </p>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="col-lg-12">
									<img src="img/manpower/payroll_services.svg" class="img-fluid" alt="manpower">
									<p>Payroll Services</p>
									<p>After the inventory has been stored and is ready to be transported again, shipping carriers such as DHL, USPS, and UPS pick up</p>
								</div>
							</div>							 -->
						</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 mob_left_ryt">
						<div class="container">
							<div class="col-lg-12 manpower_bg">
								<div class="row">
									<div class="col-lg-5 mob_left_ryt">
										<p>Get Start Your Favourite Shopping</p>
										<p>We Provide Trending And Budget Friendly Products For Your Interest.</p>
										<!-- <p>We Provide On-Demand Industry Specific Trained Manpower For Your Requirements.</p> -->
										<a href="{%url 'shop' %}"><button class="btn btnBanner">Shop Now<span class="material-symbols-outlined">
											call_made
											</span></button></a>
			
									</div>
									<div class="col-lg-7">
										<img src="../../../../static/homepage/img/manpower/shop.png" class="img-fluid" alt="manpower">
									</div>
								</div>
							</div>												
						</div>
					</div>
				</div>
			</div>
        </div>
		
	<!-- <div class="col-lg-12 first-box_manpower">
		<div class="row serviceSec1">
			<div class="col-lg-12 mob_left_ryt">
				<div class="container mob_left_ryt">
					<div class="col-lg-12 manpowerTitle">
						<p>Manpower for Logistics and Supply Chain</p>
						<p>Warehouse Now provides on-demand manpower to align your supply chain solutions</p>
						<img src="img/manpower/manpower_logistics_supplychain.svg" class="img-fluid">
					</div>
					<div class="mobScroll1">
						<p class="skill_p">We have skilled and semi-skilled labour for all your needs including:</p>
						<div class="col-lg-12 manpower_head">							
							<div class="row">
								<div class="col-lg-6 compliances_benefits_li1">
									<div class="col-lg-12">
										<ul class="keys">
											<li>Loaders/Unloaders</li>
											<li>Helpers</li>								
											<li>Shift & Floor Supervisors</li>
											<li>Data Entry Operators</li>											
										</ul>
									</div>
								</div>
								<div class="col-lg-6 compliances_benefits_li1">
									<div class="col-lg-12">
										<ul class="keys">
											<li>Delivery Assistants</li>
											<li>Pickers/Packers</li>
											<li>Checkers</li>
											<li>Quality Checkers & Assistants</li>											
										</ul>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
				
	<!-- <div class="row whyChooseUs">
			<div class="col-lg-12">
				<div class="container mob_left_ryt">					
					<div class="mobScroll1">
						<div class="col-lg-12 transparency_head">
							<div class="row more_reasons">
								<div class="col-lg-12 blue_collarTitle">
									<span>Blue Collar Manpower</span>
									<p class="blue_collar_text">Our WMS helps you to automate your fulfillment process and streamline your supply chain</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 transparency_head1">
							<div class="row">
								<div class="col-lg-5 col-12 what_we_do what_we_do_first_div">
									<div class="col-lg-12">
										<p>Benefits of hiring manpower <br>support from Warehouse Now</p>
										<p class="desktoimg"></p>							
										<ul>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> On-demand manpower support available</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Skilled and semi-skilled labour as demand</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Substantial savings in manpower costs</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Efficient outputs</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Performance monitoring</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Attendance collation system</li>
										</ul>
									</div>
								</div>								
								<div class="col-lg-5 col-12 what_we_do what_we_do_secnd_div">
									<div class="col-lg-12">
										<p>Manpower support available <br>for the following roles</p>
										<p class="desktoimg"></p>									
										<ul>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Manufacturing Technician</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> General Maintenance worker</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Computer Operator & Programming</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Warehouse supervisor</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Welder (Gas & Electric)</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> WMS & TMS Operators</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 logistic_operations_div">
							<a href="{% url 'shop' %}"><button class="btn btnBanner">Shop Now<span class="material-symbols-outlined">
								call_made
								</span></button></a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	 -->
	<div class="row compliances_security">
		<div class="col-lg-12">
			<div class="container mob_left_ryt">
				<div class="col-lg-12 payroll_text">
					<p>LaboCart & Shopping Cart</p>
					<p>We provide the required services and high quality products through our LaboCart services</p>
					<!-- <p class="payroll_p">We have streamlined payroll management to help integrate systems for convenient and easy operations. We have accurate systems to maintain a record of the work, performance, attendance, and leaves of manpower. Our data is linked to payroll management systems to ensure accuracy of the data provided. Our services also include:</p> -->
				</div>
				<!-- <div class="mobScroll1">
						<div class="col-lg-12 pl_head">
							<div class="row">
								<div class="col-lg-4 e_commerce_business_li">
									<div class="col-lg-12">
										<ul class="payroll_ul">																					
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Shorter turnaround time</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> High-end data security</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Aligned payroll functions under one <span class="span_align_child2">umbrella</span></li>
																					
										</ul>
									</div>
								</div>
								<div class="col-lg-4 e_commerce_business_li">
									<div class="col-lg-12">
										<ul class="payroll_ul">																					
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Flawless documentation process</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Highly qualified team of professionals</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Adherence to statutory compliance <span class="span_align_child2">regulations <span class="span_align_mob">with timely reporting</span></span></li>											
										</ul>
									</div>
								</div>
								<div class="col-lg-4 e_commerce_business_li">
									<div class="col-lg-12">
										<ul class="payroll_ul">
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Risk mitigation</li>	
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Efficient resolution of queries</li>
											<li><img src="img/logistics/left_bullet.png" class="img-fluid" alt="warehousing"> Multiple reports for an informed <span class="span_align_child2">decision <span class="span_align_mob">making</span></span></li>											
										</ul>
									</div>
								</div>								
							</div>
						</div>
					</div>												 -->
			</div>
		</div>
	</div>
	
	<!-- <div class="row">
		<div class="col-lg-12 mob_left_ryt first-box clients_div">
		<div class="row serviceSec1">
			<div class="col-lg-12">
				<div class="container">
					<div class="col-lg-12 clientsTitle">
							<span>Our Clients</span>
						</div>
						<div class="col-lg-12 mobScroll mob_left_ryt clients_img clients_img_new mob_left_ryt">
							<div class="row">
								<div class="col-lg-3 col-4 clients_img_div">
									<div class="col-lg-12">
										<img src="img/clients/Pidilite.png" class="img-fluid" alt="warehousing">
									</div>
								</div>
								<div class="col-lg-3 col-4 clients_img_div">
									<div class="col-lg-12">
										<img src="img/clients/Flipkart.png" class="img-fluid" alt="warehousing">
									</div>									
								</div>
								<div class="col-lg-3 col-4 clients_img_div">
									<div class="col-lg-12">
										<img src="img/clients/wakefit.png" class="img-fluid" alt="warehousing">
									</div>									
								</div>																
								<div class="col-lg-3 col-4 clients_img_div">
									<div class="col-lg-12">
										<img src="img/clients/Delhivery.png" class="img-fluid" alt="warehousing">
									</div>									
								</div>	
							</div>	
							<div class="row">								
								<div class="col-lg-3 col-4 clients_img_div div_gap">
									<div class="col-lg-12">
										<img src="img/clients/trell.png" class="img-fluid" alt="warehousing">
									</div>
								</div>
								<div class="col-lg-3 col-4 clients_img_div div_gap">
									<div class="col-lg-12">
										<img src="img/clients/purplle.png" class="img-fluid" alt="warehousing">
									</div>									
								</div>
								<div class="col-lg-3 col-4 clients_img_div div_gap">
									<div class="col-lg-12">
										<img src="img/clients/nirog.png" class="img-fluid" alt="warehousing">
									</div>									
								</div>								
								<div class="col-lg-3 col-4 clients_img_div div_gap">
									<div class="col-lg-12">
										<img src="img/clients/pharmasy.png" class="img-fluid" alt="warehousing">
									</div>									
								</div>								
							</div>	
						</div>
					</div>
				</div>
			</div>
        </div>
	
	</div>
	 -->
	<!-- <div class="row" style="background-color:#F8F8F8">
		<div class="col-lg-12 footer_bg">
		<div class="row footer">
			<div class="col-lg-12">
				<div class="container">
					<div class="col-lg-12 border_bottom">
						<div class="row">
							<div class="col-lg-3">
								<h4>About Us</h4>
								<ul>								
									<li><NavLink exact activeclass="active" to="/company"><a href="#">About us</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Blogs</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Contact us</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Support FAQ's</a></NavLink></li>	
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Privacy Policy</a></NavLink></li>									
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Terms of Use</a></NavLink></li>																	
								</ul>
							</div>
							<div class="col-lg-3">
								<h4>Solutions</h4>
								<ul>									
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Dark Stores</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Manpower</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#%">Compliance</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">BTS (Built-to-suit)</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Retail distribution</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Full stack logistics</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Warehousing space</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Warehouse operations</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Inventory management</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">E-commerce fulfillment</a></NavLink></li>                                       
								</ul>
							</div>
							<div class="col-lg-3">
								<h4>Industries Served</h4>
								<ul>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">FMCG</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">3PL</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Furniture</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Chemical</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Electronics</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Automobile</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">E-commerce</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">White goods</a></NavLink></li>
									<li><NavLink exact activeclass="active" to="/company"><a href="#">Pharmaceutical</a></NavLink></li>
								</ul>
							</div>
							<div class="col-lg-3">
								<h4>Address</h4>
								<p>164, 9th Cross Rd, First Stage,<br/>Hoysala Nagar, Indiranagar,<br/>Bengaluru, Karnataka 560038</p>
								<p><i class="fa fa-phone" aria-hidden="true" style="transform: scaleX(-1);"></i> +91 80471 84443</p>
								<h5><b class="nwsclr">Newsletter</b></h5>
								<p>Sign Up for updates, inlights, case studies and much more.<br/>No promotions and spamming.</p>
								<input class="form-control newsLetter" placeholder="Your Email" />
								<button class="btn btn-subs">Subscribe</button>	
								<div class="row">
									<div class="col-lg-3 insta_img" style="margin-top:80px;padding-bottom:40px;cursor:pointer;"  onclick="instagam()"></div>									
									<div class="col-lg-3 twitter_img" style="margin-top:80px;padding-bottom:40px;cursor:pointer;" onClick="twitr()"></div>
									<div class="col-lg-3 fb_img" style="margin-top:80px;padding-bottom:40px;cursor:pointer;" onClick="fb()"></div>
									<div class="col-lg-3 linkdn_img" style="margin-top:80px;padding-bottom:40px;cursor:pointer;" onClick="linkdn()"></div>									
								</div>							
							</div>
						</div>
					</div>									
				</div>
			</div>
		</div>
   </div>
	</div> 			 -->
</div>

<script>
function instagam() {
 window.open('https://www.instagram.com/warehouse_now/')
}
function twitr() {
  window.open('https://twitter.com/Warehousenow1')
}
function fb() {
  window.open('https://www.facebook.com/admin.Warehousenow')
}
function linkdn() {
  window.open('https://www.linkedin.com/company/warehouse-now/')
}
	$('.mini-submenu, .mob_nav > ul > li > a').on('click',function(){
	if($('.mob_nav').css('left')=='-1000px'){
		$('.mob_nav ').animate({left: '0px'});
	}else  if($('.mob_nav ').css('left')=='0px'){
		$('.mob_nav').animate({left: '-1000px'});
	}
});
</script>

