<!DOCTYPE html>
<html lang="en">
{%extends 'index.html'%}
{% block content%}
<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
</head>

<body>
    <section style="background-color: #f5eee7;" class="pb-6 pt-5" >
      <div class="container pt-5">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4   mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{details.image.url}}" class="rounded-circle" width="150">
                        <div class="mt-3 text-uppercase">
                          <h5>{{details.username}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <div class="card-body p-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="d-flex flex-column h-100">
                              <h4 class="text-lg mb-1 pt-2">Your Wallet</h4><br>
                              <h5 class="font-weight-bolder text-gray-800">Available Balance : ${{ details.wallet}}</h5>
                              <!-- <h5 class="mb-5 font-weight-bold float-end align-self-sm-end text-black">${{ details.wallet}}</h5> -->
                            </div>
                          </div>
                          <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body p-5" style="padding: 40px;text-align: center">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 ">{{details.first_name}} {{details.last_name}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9">
                          {{details.email}}                        
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9">
                          {{details.phone_no}} 
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Rating</h6>
                        </div>
                        <div class="col-sm-9">
                          {{details.rating}} 
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-2 rounded-2 text-success float-end" href="{% url 'update_profile' %}">Edit Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
        </div>
      </section>
</body>

{% endblock content %}
</html>





