{% extends 'index.html' %}

{% load widget_tweaks %}

{% block content%}
{% if messages %}
{% for message in messages %}
    <p class="d-none" id="messagetag">{{message.tags}}</p>
    <p class="d-none " id="messagecontent">{{message}}</p>
{% endfor %}
{% endif %}

    <div class="container-fluid position-relative col-12">





        <!-- Page Header Start -->
        <div class="container-fluid bg-primary mb-5 rounded-3">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
                <h1 class="font-weight-semi-bold text-uppercase mb-3 text-white">Checkout </h1>
                <div class="d-inline-flex text-white">
                    <p class="m-0"><a href="">Home</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">Checkout</p>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4 ">
                <div class="col-11 table-responsive mb-5">
                    <table class="table table-bordered text-center mb-0">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Products</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">

                            {% for product in products %}
                            <tr class="rows">
                                <td class=" align-middle ">
                                        <h6 class="">{{product.Product_name}}</h6>
                                </td>                            
                                <td class="align-middle">{{product.Quantity}}</td>
                                <td class="align-middle">
                                $ {{product.Total}}
                                </td>
                            </tr>

                            {% endfor %}


                        </tbody>
                    </table>
                </div>

                <div class="col-11">
                    <div class="card border-dark mb-5">
                        <div class="card-header bg-primary p-2 border-0">
                            <h4 class="font-weight-semi-bold m-0 text-white">Checkout Summary</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">${{totalPrice}}</h5>
                            </div>
                        </div>
                        
                    </div>  
                </div>
            </div>
            <div class="col-md-6">

                <form action="" method="post">
                    <!-- Cart Start -->
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-4 col-6">
                            <label for="Name">First Name</label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-user"></span>
                                </span>
                                {{ form.first_name }}

                            </div>
                            <span class="text-danger">{{ form.first_name.errors }}</span>
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="Username">Last Name</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-user"></span>
                                </span>
                                {{ form.last_name }}

                            </div>
                            <span class="text-danger">{{ form.last_name.errors }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group mb-4 col-6">
                            <label for="Email">Email</label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-envelope"></span>
                                </span>
                                {{ form.email }}

                            </div>
                            <span class="text-danger">{{ form.email.errors }}</span>
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="Phone">Phone </label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fa fa-phone fa-rotate-90"></span>
                                </span>
                                {{ form.phone }}

                            </div>
                            <span class="text-danger">{{ form.phone.errors }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-4 col-6">
                            <label for="building">Buiding / House NO </label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-building"></span>
                                </span>
                                {{ form.building}}

                            </div>
                            <span class="text-danger">{{ form.building.errors }}</span>
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="Street">Street</label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-road"></span>
                                </span>
                                {{ form.street}}

                            </div>
                            <span class="text-danger">{{ form.street.errors }}</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group mb-4 col-6">
                            <label for="locality">Locality</label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-map-marker"></span>
                                </span>
                                {{ form.locality }}

                            </div>
                            <span class="text-danger">{{ form.locality.errors }}</span>
                        </div>
                        <div class="form-group mb-5 col-6">
                            <label for="postal">Zip Code</label>
                            <div class="input-group     ">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                {{ form.postal }}

                            </div>
                            <span class="text-danger">{{ form.postal.errors }}</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4 mx-auto d-flex justify-content-center">
                            <input type="submit" value="Next" class="btn btn-block btn-primary my-3 px-5 py-3">

                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-1">

            </div>

        </div>




        <!-- Back to Top -->

    </div>
    <!-- JavaScript Libraries -->

{% endblock content %}


</body>
{% endblock content %}

