{% extends 'index.html' %}
{% load widget_tweaks %}
{% load mathfilters %}


{% block content%}

    {% if messages %}
    {% for message in messages %}
    <p class="d-none" id="messagetag">{{message.tags}}</p>
    <p class="d-none " id="messagecontent">{{message}}</p>
    {% endfor %}
    {% endif %}
    <!-- Topbar Start -->
    <div class="container-fluid mt-2">
        <div class="row d-flex justify-content-center " style="height: 100vh ;">
            <div class="col-md-11 bg-gray-200 mb-4">
                <div class="row p-5">
                    <div class="col-md-6 ">
                        <h1 class=""> LaboCart </h1>
                    </div>
                    <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
                        <h3 class="me-2 "> Order ID : </h3>
                        <h3>#{{request.session.order}}</h3>
                    </div>

                </div>
                <div class="row py-3 px-5">
                    <div class="col-md-12">
                        <h4 class="text-primary">Bill To :</h4>
                        <p>{{request.session.Building}}</p>
                        <p>{{request.session.Street}}</p>
                        <p>{{request.session.Locality}}</p>

                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3 ">
                    <div class="col-10 ">
                        <div class="row   ">
                            <div class="col-md-4 p-0 border-end">

                                <h3 class="bg-gray-800 text-white p-3"> Product Name</h3>

                                <div class="px-3 bg-gray-300" >
                                    {%for i in products%}

                                    {%for j in i%}

                                    <p class="border-bottom m-0 py-2">{{j}}</p>

                                    {%endfor%}

                                    {%endfor%}
                                </div>

                            </div>

                            <div class="col-md-4 p-0 border-end">

                                <h3 class="bg-gray-800 text-white p-3">Quantity</h3>

                                <div class="px-3 bg-gray-300">

                                    {%for i in quantity%}

                                    {%for j in i%}

                                    <p class="border-bottom m-0 py-2">{{j}}</p>

                                    {%endfor%}

                                    {%endfor%}
                                </div>

                            </div>

                            <div class="col-md-4 p-0">

                                <h3 class="bg-gray-800 text-white p-3">Price</h3>

                                <div class="px-3 bg-gray-300">

                                    {%for i in prices%}

                                    {%for j in i%}

                                    <p class="border-bottom m-0 py-2">${{j}}</p>

                                    {%endfor%}

                                    {%endfor%}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 bg-gray-300 p-3 d-flex justify-content-between align-items-center">
                        <p>Thank you for your Business</p>
                        <h4 class="me-3">Total : {{total}}</h4>
                    </div>
                    <a href="{% url 'dashboard' %}" class="w-25 p-3 btn btn-gray-800 text-white mt-5 " ><span style="font-weight: bolder; font-size:20px;">Print</span></a>
                </div>
            
        </div>
    </div>
    </div>
    </div>


{% endblock content %}

